*{
    margin: 0;
}


.TopBox{
    background-color: #C3E5AE;
    /* height: 100vh;
    width: 50vw; */
    text-align: center;
    /* border: solid black 10px;
    padding: 20px; */
    padding-top: 100px;
    font-family:sans-serif

}
.TopBox p{
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    
}

h1{
    /* font-size: 90px;*/  /*This is a static type font size and it will not be changed*/
    /* font-size: 562.5%;     This is Dynamic type font size */
    
    font-size: 5rem;     /*This is Dynamic type font size*/
    font-family:'Dancing Script', cursive;
    margin-top: 50px;
    color: #66BFBF;
    line-height: 2;
}
h2{
    color: #66BFBF;
    font-weight: normal;
    line-height: 2;
}
h3,a{
    color: #11999E;
}
body{
    text-align: center;
    
} 


.MiddleBox{
    height: 40vh;  
    /* border: solid black 20px;
    margin-left: 255px; */
    text-align: center;
}

/* .profile img{
     
      display: block;
      margin-left: auto;
      margin-right: auto;

}

.skills img{
    
    display: block;
    margin-left: auto;
    margin-right: auto;


} */
.skill-row{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
    line-height: 2;
}
.SkillImg{

    width: 25%;
    float: left;
    margin-right: 30px;
}
.software{
    width: 25%;
    float:right;
    margin-left: 30px;

}


.pro{
    text-decoration: underline;
}
.Top-cloud{
    position: absolute;
    top: 50px;
    right: 300px;
}
.profile{
    margin-bottom: 30px;
}

.Bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.contact-me{
    text-align: center;
}
.bottom-container{
    
    line-height: 5;
}
.contact-me{
    line-height: 2;
}